<tr class="text-center">
  <td>{{album}}</td>
  <td>{{price}}</td>
  <td class="w-25 h-25">
    <img class="img-thumbnail" src="{{img}}" alt="{{name}}" /></td>
  <td>{{artist}}</td>
  <td>{{release_year}}</td>
</tr>